@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OOPS...</title>
</head>
<body>
    <hgroup>
        <h1>Er ging iets fout</h1>
        <h2>Er werd verkeerde input ingegeven</h2>
    </hgroup>
</body>
</html>
